<h1>
  Posts
  <%= link_to "New Post", new_post_path %>
</h1>
<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.title, post_path(post) %> <!-- Railsでは、post_path(post)とすると、post.idが使われる（post.idでもOK） -->
      <%= link_to "Edit", edit_post_path(post) %> <!-- Railsでは、edit_post_path(post)とすると、post.idが使われる（post.idでもOK） -->
    </li>
  <% end %>
</ul>


<!-- # <li><a href="/posts/1">Post 1</a></li> と同じ -->
<!-- <ul>
  <li><%= link_to "Post 1", post_path(1) %></li>  
  <li><%= link_to "Post 2", post_path(2) %></li>
  <li><%= link_to "Post 3", post_path(3) %></li>
</ul> -->
