<h1><%= @post.title %></h1>
<!-- pタグで囲みつつ、改行をbrタグに変換して反映させる -->
<%= simple_format(@post.body) %>

<% if @post.comments.any? %>
<h2>Comments</h2>
<ul>
    <% @post.comments.each do |comment| %>
        <% if comment.persisted? %>
        <li><%= comment.body %></li>
        <% end %>
    <% end %>
</ul>
<% end %>

<h2>Add a Comment</h2>
<%= form_with(model: [@post, @comment]) do |form| %>
    <div>
        <%= form.text_field :body %>
        <% if @comment.errors.any? %>
            <ul>
                <% @comment.errors.full_messages_for(:body).each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        <% end %>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>
<p class="back-link">
    <%= link_to "Back", root_path %>
</p>